@media screen and (max-width:1000px) {

    *{
        margin:0;
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 1000px; */
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 90vh;
        /* text-align: center; */
        width: 95vw;

    }

    nav{
        flex-direction: row;
        align-items: center;
        margin-right: 0px;
        justify-content: space-between;
        width: 90vw;
        position: absolute;
        margin-top: 60px;
    }

    .nav-item{
        margin-left: 0;
    }

    .nav-item-active{
        margin-left: 0;
    }

    .logo{
        position: static;
        align-items: center;
        margin-top: 20px;
    }

    .header-text{
        margin-left: 0;
        width: 80vw;
        margin-top: 15vh;
      }
      

    .header-image{
        position: relative;
        width: 80vw;
        /* display: none; */
    }

    .companies{
        width: 90vw;
        justify-content: space-evenly;
        text-align: center;
    }

    .api-heading{
        margin-left: 0;
    }

    .api{
        margin-top: 80vh;
        text-align: center;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .blog-heading{
        text-align: center;
        margin-left: 0;
    }

    .blog-cards{
        margin: 50px 0px 0px 0px;
        flex-direction: row;
        width: 95vw;
        justify-content: space-evenly;
    }

    .blog-card{
        flex-direction: column;
        height: 80vh;
    }

    .blog-content{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .faq-section{
        margin: 0;
        text-align: center;
        align-items: center;
        height: 80vh;
        
        width: 95vw;

        flex-direction: column;
    }


    .faq-content{
        margin-left: 0;
        width: 90vw;
      }

    .faq-image{
        margin-right: 0vw;
        /* width: 80vw; */
    }

    .faq-image img{
        height: 200px;
      }

    .download-section{
        height: 30vh;
        width: 90vw;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        width: 95vw;

    }

    .download-email form{
        border-radius: 20px;
        width: 80vw;

        /* overflow: hidden; */
        background-color: #E9EDFF;
        height: 40px;
        /* width: 100px; */
      }
      
      .download-email form input{
        margin-left: 20px;
        height: 10px;
        width: 80vw;
        border: none;
        text-align: left;
        background: none;
      }
      
      
      
      .download-email form button{
        /* height: 36px; */
        float: right;
        width: 30vw;
        border-radius: 20px;
        border: none;
        background-color: #5A31FC;
        color: #fff;
        margin-right: 1px;
      }
      

    .footer-section{
        flex-direction: column;
        align-items: center;
        height: 40vh;
        
        width: 95vw;

    }
      
    .footer-left{
        margin: 40px 0 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footer-right {
        width: 75%;      
      }
    
    .list .list-items{
        margin: 0px 10px;
    }

      .logos-list{
        position: relative;
        margin-top: 5px;
        margin-left: 0px;
        width: 150px;
      }

}